<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title>Деканат</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.svg">
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="d-flex flex-column h-100">
<header class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid" style="justify-content: normal">
            <a class="navbar-brand" href="/">
                <i class="fa fa-wheelchair fa-spin fa-fw"></i>
            </a>
            <button class="navbar-toggler  me-1" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu" id="navbarNav">
                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Вход</a>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:if="${active}" href="/">Главная</a>
                    <a class="nav-link" th:if="${active}" href="/individual">Физ. лица</a>
                    <a class="nav-link" th:if="${active}" href="/logout">Выход</a>
                </ul>
            </div>
            <div class="btn-group me-5" th:if="${active} and ${userRole == 'ADMIN'}">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Администратор
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user">Пользователи</a></li>
                    <li><a class="dropdown-item" href="/education">Учебные планы</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <div layout:fragment="content">
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>
</html>