<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Физические лица</title>
</head>
<body>
<div layout:fragment="content">
    <h4 class="mb-3">Учебные планы</h4>
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/education/edit}">
            <i class="fa-solid fa-plus"></i> Добавить
        </a>
    </div>
    <div th:if="${errors}" th:text="${errors}" class="margin-bottom alert alert-danger"></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Года</th>
                <th scope="col">Тип</th>
                <th scope="col">Вид</th>
                <th scope="col">Форма</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="education, iterator: ${educations}">
                <th scope="row" th:text="${iterator.index} + 1" style="width: 10%"></th>
                <td th:text="${education.num}" style="width: 10%"></td>
                <td th:text="${education.fullName}" style="width: 15%"></td>
                <td th:text="${education.year_from} + '-' + ${education.year_to}" style="width: 15%"></td>
                <td th:text="${education.edu_type}" style="width: 5%"></td>
                <td th:text="${education.edu_form}" style="width: 5%"></td>
                <td th:text="${education.edu_qual}" style="width: 5%"></td>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info button-fixed button-sm"
                           th:href="@{/education/view/{id}(id=${education.id})}">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${education.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <form th:action="@{/education/delete/{id}(id=${education.id})}" method="post">
                        <button th:id="'remove-' + ${education.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>